/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts

@import url("https://fonts.googleapis.com/css?family=Arimo|Cantata+One|Droid+Serif|Muli:300,300i,400,400i|Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Signika");
$base-font: "Droid Serif", "Helvetica", "sans-serif";
$header-font: "Signika", "Helvetica", "sans-serif";


// OPTION POUR TITLE
// > font-family: 'Raleway', sans-serif;
// COMME CENTURY GOTHIC
// > font-family: 'Muli', sans-serif;
// COMME GEORGIA
// > font-family: 'Cantata One', serif;



// font-family: 'Signika', sans-serif;
// font-family: 'Arimo', sans-serif;
// font-family: 'Droid Serif', serif;

// TEMPLATE MINIMAL WAGON
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
// $base-font: "Open Sans", "Helvetica", "sans-serif";
// $header-font: "Raleway", "Helvetica", "sans-serif";



// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #78C8A4;

$red: #F15A42;
$yellow: #FFC638;
$green: #78C8A4;
$gray: #5C5C54;



