/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
  h1 {
    font-size: 25px;
    margin-top: 11px;
  }
  
  #link {
    position: absolute;
    bottom: 117px;
    left: 515px;
    height: 50px;
    width: 200px;
    color: white;
    font-weight: bold;
  }

  #plant1 {
    position: absolute;
    bottom: 246px;
    left: 56px;
    background-color: white;
    z-index: 10;
  }

  #offer1 {
    position: absolute;
    top: 274px;
    left: 67px;
    z-index: 10;
  }

  #share1 {
    position: absolute;
    top: 273px;
    right: 71px;
    z-index: 10;
  }

  #grow1 {
    position: absolute;
    bottom: 249px;
    right: 32px;
    z-index: 10;
  }

  .container {
    position: relative;
  }

  .card {
    border: solid;
    border-color: $green;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 100%;
    height: 200px;
    width: 280px;
    box-shadow: 1px 1px 1px;
    z-index: 10;
    display: flex;  
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    height: 400px;
    width: 400px;
  }

 /* #container-central {
    position: absolute;
    left: 400px;
  }*/

  #central {
    position: relative;
    border: solid;
    border-color: $green;
    width: 650px;
    height: 450px;
    border-radius: 100%;
    background-size: cover;
    z-index: 30;
    background-image: "base.jpeg";
  }

  #plant1:hover {
     font-weight: bold;
     background-color: $green;
     color: white;
  }

  #offer1:hover {
     font-weight: bold;
     background-color: $green;
     color: white;
  }

  #share1:hover {
     font-weight: bold;
     background-color: $green;
     color: white;
  }

   #grow1:hover {
     font-weight: bold;
     background-color: $green;
     color: white;
  }

  .logo-flex-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }




/*
#plant:hover {
  +#central{
    background-image: image-url('plant.jpeg');
  }
}
#offer{
  width: 350px;
  height: 350px;
  background: blue;

  &:hover +.autre{
    background: red;
  }
}
#share{
  width: 350px;
  height: 350px;
  background: blue;

  &:hover +.autre{
    background: red;
  }
}

#grow{
  width: 350px;
  height: 350px;
  background: blue;

  &:hover +.autre{
    background: red;
  }
}*/