/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
  h1 {
    font-size: 25px;
  }
  
  #plant1 {
    position: absolute;
    bottom: 100px;
    right: 100px;
  }

  .container {
    position: relative;
  }

  .card {
    border: solid;
    border-color: $green;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 1px 1px 1px;
    z-index: 5;
  }

  .logo {
    height: 400px;
    width: 400px;
  }

  #container-central {
    position: absolute;
    left: 400px;
  }

  #central {
    border: solid;
    border-color: $green;
    width: 650px;
    height: 450px;
    background: white;
    border-radius: 20%;
    background-size: cover;
    z-index: 30;
  }

  #plant:hover {
     font-weight: bold;
     background-color: $green;
     color: white;
  }

  #offer:hover {
     font-weight: bold;
     background-color: $green;
     color: white;
  }

  #share:hover {
     font-weight: bold;
     background-color: $green;
     color: white;
  }

   #grow:hover {
     font-weight: bold;
     background-color: $green;
     color: white;
  }

  .logo-flex-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }




/*
#plant:hover {
  +#central{
    background-image: image-url('plant.jpeg');
  }
}
#offer{
  width: 350px;
  height: 350px;
  background: blue;

  &:hover +.autre{
    background: red;
  }
}
#share{
  width: 350px;
  height: 350px;
  background: blue;

  &:hover +.autre{
    background: red;
  }
}

#grow{
  width: 350px;
  height: 350px;
  background: blue;

  &:hover +.autre{
    background: red;
  }
}*/