<!-- <div class="wrapper-grey"> -->
  <div class="container">



    <div class="logo-flex-container">
<div class="arrow" style="background-image: url('<%= image_url("circle-arrow.png")%>');"></div>

      <div id="central">
          <div class="btn-red">
            <a href="/certificates/new">J'offre un arbre !</a>
          </div>
      </div>
      <div id="plant1" class="card">
        <h4>1/ PLANT A TREE</h4>
        <p class="small-p">Je plante un arbre pour Sarah...</p>
      </div>
      <div id="offer1" class="card">
        <h4>2/ OFFER IT</h4>
         <p class="small-p">Je lui offre un certificat personnalisé pour noël...</p>
      </div>
      <div id="share1" class="card">
        <h4>3/ START & SHARE A FOREST</h4>
        <p class="small-p">je plonge virtuellement au coeur de l'Amazonie...</p>
      </div>
      <div id="grow1" class="card">
        <h4>4/ GROW MY FOREST</h4>
        <p class="small-p">Sarah décide d'offrir un arbre à Paul...</p>
      </div>

    </div>
</div>
<!-- </div> -->
