<div class="wrapper-grey">
  <div class="container">
    <div class="logo-flex-container">
      <div id="central">
          <div id="link" class="btn-primary">
            <a href="/certificates/new">Offrir un arbre</a>
          </div>
      </div>
      <div id="plant1" class="card">
        <h1>PLANT A TREE</h1>
        <p> Je plante un arbre pour Paul</p>
      </div>
      <div id="offer1" class="card">
        <h1>OFFER IT</h1>
        <p> Je lui offre son certificat </p>
      </div>
      <div id="grow1" class="card">
        <h1>GROW MY FOREST</h1>
        <p> Paul offre un arbre à son tour et étend notre forêt partagée</p>
      </div>
      <div id="share1" class="card">
        <h1> SHARE THE FOREST</h1>
        <p> je plonge virtuellement vers l'arbre dans la fôret amazonienne</p>
      </div>
    </div>
</div>
</div>