<div class="wrapper-grey">
  
  <div class="container">
    
    <div class="row">
      <div id="plant" class="col-sm-5" >
        <div class="card grey" style="transform: rotate(-15deg); transform-origin: left;">
          <h1>PLANT A TREE</h1>
          <p> Je plante un arbre pour Paul</p>
        </div>
      </div>

      <div class="col-sm-offset-2 col-sm-5">
        <div id="offer" class="card">
          <h1>OFFER IT</h1>
          <p> Je lui offre avec un certificat personnalisé</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
       <div id="central" class="card">
        <%= image_tag 'logo.png', class: "avatar", 
           'data-content': "
              <h2>test</h2>" %>
        </div>
      </div>
    </div>
    <div class="row ">

      <div class="col-sm-5">
        <div class="square-blue" >
          <h1 id="share"> SHARE THE FOREST</h1>
          <p> je plonge virtuellement vers l'arbre dans la fôret amazonienne</p>
        </div>
          <div class="test"></div>
      </div>

      <div class="col-sm-2">
      <div class="test"></div>
      </div>
      
      <div class="col-sm-5">
        <div class="square">
          <h1>GROW MY FOREST</h1>
          <p> Paul offre un arbre à son tour et étend notre forêt partagée</p>
        </div>
      </div>
    </div>
  </div>
</div>