/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.vertical-banner {
  background-image: asset-url('alto-h.jpg');
  background-size: cover;
  height: calc(100vh - 70px);
}

.on-the-right {
  float: right;
  margin-right: 100px;
}

.btn-large-container {
  width: 100%;
}

.mongradient {
  height: 100%;
  background-color: red;
  background-image:
    radial-gradient(
      white,
      #fcf9fa 30%
    );
}
