<h4 class="paddedlight" style="color: #78c8a4; text-align: center; padding-bottom: 35px;">5€, quelques clics et vous découvrirez bientôt l'arbre dans sa forêt :) </h4>
<div class="container">
   <div class="container-form-small">
    <div class="row">
      <!-- <div class="col-xs-12 col-md-6"> -->
        <%= form_tag certificate_payments_path(@certificate) do %>
          <article>
            <label class="amount">
              <span>Amount: 5E</span>
            </label>
          </article>

          <!-- # Commented for the lecture, remove comments. -->
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="My Tree"
            data-description="My Tree"
            data-amount="5"
            data-currency="<%= :eur %>"></script>
        <% end %>
      <!-- </div> -->
    </div>
  </div>
</div>
