<div class="container">

  <h1 style="text-align: center;">Offer a tree</h1>

  <div class="certificate-border">

    <div class="certificate-layout">

      <div class="certificate-personal-info">
      </div>
      <div class="certificate-headers">
      </div>
      <div class="certificate-banner style="background-image: url('<%= image_path("banner-certificate")%>');">
      </div>
      <div class="certificate-description">
      </div>
    </div>
  </div>

</div>



<!--
    <div class="banner" style="background-image: url('<%#= image_path("banner-certificate")%>');">
    </div> -->






