<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body>
      <%#= wicked_pdf_image_tag 'mysite.jpg' %>
    <div id="content">
      <h1>Test PDF</h1>


    </div>
  </body>
</html>
