.btn-transparent {
    width: 250px;
    background: #FAD578;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: white;
    margin-top: 25px;
    &:hover {
      color: white;
      background: lighten(#FAD578, 10%);
    }
}

.btn-green-sign {
  background-color: $green;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  font-size: 12px;
  margin-top: 13px;
    a {
      color: white;
      text-decoration: none;
    }
}

.btn-certificate-tree-number-update {
    height: 77px;
    width: 100px;
    opacity: 1;
    background-color: #eff1f2;
    color: green;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(77, 9, 18, 0.34);
    position: absolute;
    top: -24px;
    left: -117px;
}

.btn-certificate-name-update {
    height: 132px;
    width: 261px;
    opacity: 1;
    background-color: #eff1f2;
    color: $green;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(77, 9, 18, 0.34);
    position: absolute;
    bottom: 139px;
    left: -250px;
}

.btn-certificate-date-update {
    height: 132px;
    width: 261px;
    opacity: 1;
    background-color: #eff1f2;
    color: $green;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(77, 9, 18, 0.34);
    position: absolute;
    bottom: 31px;
    right: -67px;
}

.btn-edit-border-color {
    height: 132px;
    width: 261px;
    opacity: 1;
    background-color: #eff1f2;
    color: $green;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(77, 9, 18, 0.34);
    position: absolute;
    top: 31px;
    left: -67px;
}

.btn-treehouse {
  width: 200px;
  font-family: "Muli", sans-serif;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: $green;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: $yellow;
  text-decoration: none;
  color: white;
}

.btn-treehouse-pay {
  width: 200px;
  font-family: "Muli", sans-serif;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: $green;
  transition: background 0.3s ease;
}
.btn-treehouse-pay:hover {
  opacity: 1;
  background: #5faa89;
  text-decoration: none;
  color: white;
}

.btn-treehouse-free {
  width: 700px;
  font-family: "Muli", sans-serif;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: $green;
  transition: background 0.3s ease;
}
.btn-treehouse-free:hover {
  opacity: 1;
  background: #5faa89;
  text-decoration: none;
  color: white;
}

// transform: rotate(180deg) scale(1, 1);



