.certificate-border {
  border-top: 14px solid $green;
  border-right: 14px solid $green;
  border-left: 14px solid $green;
  border-bottom: 57px solid $green;
  height: 609px;
  width: 927px;
  margin-left: auto;
  margin-right: auto;
}

.certificate-layout {
  position: relative;
  height: 540px;
  width: 899px;
  background-color: $red;
}

// CERTIFICATE PERSONAL INFO - CADRE GAUCHE
.certificate-personal-info {
  height: 471px;
  width: 220px;
  background-color: white;
  opacity: 0.4;
  border: 1px solid $green;
  border-radius: 5%;
  position: absolute;
  top: 48px;
  left: 36px;
}

.certificate-number {
  color: $gray;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 11px;
  text-align: end;
}

.certificate-tree-quantity {
  color: $green;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  margin-top: 3px;
  margin-right: 11px;
  text-align: end;
}

.certificate-personal-info-logo {
  background-size: cover;
  height: 100px;
  width: 100%;
  margin-top: 42px;
}

.certificate-attribution-title {
  color: $gray;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  margin-top: 50px;
  text-align: center;
}

.certificate-attribution-name {
  color: $green;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  margin-top: 6px;
  text-align: center;
}

.certificate-attribution-message {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom : 1px dotted $gray;
  color: $green;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 8px;
}

.certificate-parcel-info {
  color: $gray;
  font-family: 'Muli', sans-serif;
  font-size: 11px;
  letter-spacing: -1px;
  text-align: center;
  margin-right: 9px;
  margin-left: 9px;
  line-height: 14px;
  margin-top: 8px;
}

// CERTIFICATE HEADER
.certificate-headers {
  height: 127px;
  width: 899px;
  background-color: white;
  // position: relative;
}

.certificate-headers-content {
  position: absolute;
  top: 9px;
  margin-left: 256px;
    .headers-logo {
      background-size: cover;
      height: 48px;
      width : 142px;
      margin-left: 205px;
    }
    .headers-title {
      color: $gray;
      font-family: 'Muli', sans-serif;
      margin-top: 12px;
      margin-left: 65px;
      font-size: 22px;
      letter-spacing: 0.4px;
    }
    .headers-sub-title {
      color: $gray;
      font-family: 'Muli', sans-serif;
      font-size: 15px;
      letter-spacing: -0.8px;
      margin-left: 125px;
    }
}
.certificate-banner {
  height: 162px;
  width: 899px;
  background-color: purple;
}

.certificate-description {
  height: 256px;
  width: 899px;
  background-color: orange;
}


