.certificate-border {
  border-top: 14px solid $green;
  border-right: 14px solid $green;
  border-left: 14px solid $green;
  border-bottom: 57px solid $green;
  height: 609px;
  width: 927px;
  margin-left: auto;
  margin-right: auto;
}

.certificate-layout {
  position: relative;
  height: 538px;
  width: 899px;
  background-color: white;
}

// LEFT - CERTIFICATE PERSONAL INFO
.certificate-personal-info {
  height: 480px;
  width: 220px;
  background-color: white;
  opacity: 0.9;
  border: 1px solid $green;
  border-radius: 10px;
  position: absolute;
  top: 48px;
  left: 36px;
}

.certificate-number {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  .certificate-number-text {
    color: $gray;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    // margin-top: 10px;
    margin-left: 10px;
    text-align: start;
    margin-left: 10px;
    position: relative;
  }
  .certificate-number-info {
    color: $green;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    // margin-top: -16px;
    text-align: end;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}


.certificate-tree-quantity {
  // width: 100%;
  color: $green;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  text-align: end;
  margin-right: 10px;
}

.certificate-personal-info-logo {
  background-size: cover;
  height: 100px;
  width: 100%;
  margin-top: 42px;
}

.certificate-attribution-title {
  width: 100%;
  color: $gray;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  margin-top: 38px;
  text-align: center;
}

.certificate-attribution-perso {
  height: 85px;
  display: flex;
  align-items: center;
  .certificate-attribution-perso-box {
    width: 100%;
  }
}

.certificate-attribution-name {
  width: 100%;
  color: $green;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  text-align: center;
}

.certificate-attribution-message {
  width: 95%;
  line-height: 15px;
  color: $green;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  // margin-left: 10px;
  // margin-right: 10px;
  // padding-bottom: 8px;
}

.certificate-parcel-info {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top : 1px dotted $gray;
  padding-top: 10px;
  width: 90%;
  margin: auto;
  color: $gray;
  font-family: 'Muli', sans-serif;
  font-size: 11px;
  letter-spacing: -1px;
  text-align: center;
  // margin-right: 9px;
  // margin-left: 9px;
  line-height: 14px;
  margin-top: 8px;
}

// TOP - CERTIFICATE HEADER
.certificate-headers {
  height: 127px;
  width: 899px;
  background-color: white;
  // position: relative;
}

.certificate-headers-content {
  position: absolute;
  top: 9px;
  margin-left: 256px;
    .headers-logo {
      background-size: cover;
      height: 48px;
      width : 142px;
      margin-left: 205px;
    }
    .headers-title {
      color: $gray;
      font-family: 'Muli', sans-serif;
      margin-top: 12px;
      margin-left: 65px;
      font-size: 22px;
      letter-spacing: 0.4px;
    }
    .headers-title-colored {
      color: $green;
    }
    .headers-sub-title {
      color: $gray;
      font-family: 'Muli', sans-serif;
      font-size: 15px;
      letter-spacing: -0.8px;
      margin-left: 125px;
    }

// BANNER - CERTIFICATE BANNER
}
.certificate-banner {
  background-size: cover;
  height: 162px;
  width: 900px;
  // background-color: purple;
}

// BOTTOM - CERTIFICATE BOTTOM TEXTE
.certificate-description {
  height: 231px;
  width: 900px;
  background-color: white;
}

.certificate-general-text {
  margin-left: 282px;
  margin-top: 20px;
  margin-right: 30px;
  text-align: justify;
  color : #A8A8A7;
  font-family: 'Cantata', serif;
  font-size: 12px;
  line-height: 14px;
}

.text-signature{
  color : #A8A8A7;
  font-family: 'Cantata', serif;
  font-size: 12px;
  line-height: 14px;
  text-align: end;
  margin-right: 30px;
}

.certificate-date {
  margin-left: 282px;
  margin-top: 10px;
  width: 100%;
  height: 24px;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  color: #A8A8A7;
  .certificate-date-choosen {
      color: $green;
      top: 425px;
      right: 459px;
  }
}

.end-bottom-text {
    text-align: justify;
    color: #C4C4C2;
    font-family: 'Cantata', serif;
    font-size: 9px;
    margin-right: 557px;
    margin-top: 15px;
    line-height: 10px;
}

.logo-bottom {
    width: 20%;
    height: 36px;
    margin-top: 13px;
}

// BOTTOM RIGHT STAMP AND SIGNATURE
.certificate-stamp-sign {
    // background-color: red;
    position: absolute;
    background-size: cover;
    width: 178px;
    height: 129px;
    right: 32px;
    bottom: -30px;
}

.year {
    position: absolute;
    width: 178px;
    height: 44px;
    left: 2px;
    bottom: -46px;
    font-family: "Signika", sans-serif;
    font-size: 40px;
    // color: #68aa8c;
    color: #67dbbc;
}


// CUSTOM TEMPLATES
.template-container {
  margin-left: 211px;
  margin-top: 10px;
}

.template-thumbnail {
  width: 225px;
  height: 100%;
}

// CERTIF NAISSANCE
  .certificate-banner {
    background-image: asset-url("templates/banner_naissance.png");
  }

 // CERTIF BAPTEME ROSE
  .certificate-banner {
    background-image: asset-url("templates/banner_bapteme_rose.png");
  }

// CERTIF JOYEUX NOEL ROUGE
.certificate-joyeux_noel_rouge {
  border-top: 14px solid #3192b8;
  border-right: 14px solid #3192b8;
  border-left: 14px solid #3192b8;
  border-bottom: 57px solid #3192b8;

  .certificate-banner {
    background-image: asset-url("templates/banner_joyeux_noel_rouge.png");
  }

  .certificate-headers-content .headers-title-colored {
    color: #fc010d;
  }

  .certificate-number .certificate-number-info {
    color: #fc010d;
  }

  .certificate-tree-quantity {
    color: #fc010d;
  }

  .certificate-attribution-name {
    color: #fc010d;
  }

  .certificate-attribution-message {
    color: #fc010d;
  }

  .certificate-date .certificate-date-choosen {
    color: #fc010d;
  }
  .year {
    color: #89cae7;
  }
}
















